@mixin gruene-gradient() {
    $color1: mix($primary-color, $header-color, 70);
    $color2: mix($primary-color, $header-color, 30);
    background-color: $color1;
    @include background-image(linear-gradient(to bottom, $color1, $color2));
    @include box-shadow(0 1px 0 lighten($color1, 10%) inset);
    border: 1px solid $dark-green;
}

@mixin button-background($color) {
    background-color: $color;
    @include background-image(linear-gradient(to bottom, $color, saturate(darken($color, 10%), 10%)));
    @include box-shadow(0 1px 0 lighten($color, 10%) inset);
    border: 1px solid $dark-green;

    &:hover {
        background-color: lighten($color, 13%);
        @include background-image(linear-gradient(to bottom, $color, lighten($color, 13%)));
    }
}

@mixin button($color) {
    @include button-base;
    line-height: 2em;
    min-width: 82px;
    font-weight: normal;

    padding: 0.2em 1em;
    @include text-shadow(1px 1px 2px #012b12);

    color: #fff;
    @include button-background($color);

    &:hover {
        @include text-shadow(none);
        text-decoration: underline;
    }
}
