/*****************************************************
*  style_custom.css
*
*  Custom theme css to override the adhocracy css
*
******************************************************/


body {
    background-image: url(/static_theme/static/images/bg.jpg);

    html.overlay & {
        background-image: none;
    }
}
#main .page_wrapper {
    background-color: #fff;
    padding: 23px 0 23px 23px;

    #col1_content {
        padding: 0;
    }
}

#footer {
    color: $footer-fg;
    background: none;
    padding-bottom: 4em;

    .page_wrapper {
        background-color: $dark-green;
        background-image: none;
    }

    // reset
    .footer_content {
        border: none;
        padding: 0 2em;

        h3 {
            color: inherit;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: none;
                color: lighten($footer-fg, 10%);
            }
        }
        > li {
            padding: 0.4em 0;
            border-bottom: 1px solid;
        }
    }
}

/*Wordpress pages sidebar*/

#main .widget-area .shailan_SubpagesWidget,#main .widget-container ul,#main ul.subpages li,#main .widget-container {list-style: none;background: none;}
#col3 #secondary {padding-top: 20px;}


/*Tabs onboarding aboutpage*/

#main .ui-widget {}
#main .ui-widget input,
#main .ui-widget button {font-size: 13px;}

/* TODO: This could be much shorter [joka] */
#main .ui-widget p,
#main .ui-widget h1,
#main .ui-widget h2,
#main .ui-widget h3 {
    margin-left: 23px;
    margin-right: 23px;
    padding-left: 0;
    padding-right: 0;
    width: 65%;
}
#main .ui-widget .register {
    margin-left: 13px;
}
#main .ui-widget img {
    margin-left: 23px;
    margin-right: 23px;
}
#main .ui-widget h1 {
    margin: 0 23px 27px 23px;
    padding: 27px 0 0 0;
    border-bottom: 1px dotted #CCC;
}
#tabs-1 {
    min-height: 714px;
}
#tab_background_dummy {
    /*This is only here to show some white background during the tab fading out effect*/
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 50px;
    width: 1004px;
    height: 700px;
}
#tabs-1 {
    /*This is only here to show some white background during the tab fading out effect*/
    z-index: 2;
}

#main .ui-widget-content,
#main.with_wordpress_tabs .page_wrapper {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    min-height: 750px;
    position: relative;
}
#main.with_wordpress_tabs #col1_content {
    padding-left: 0;
    padding-right: 0;
    /*10px 0 23px;,c */
}
#main .ui-widget-header {
    border: none;
    background-color: transparent;
    background: url('/static_theme/index_files/white-50.png') repeat bottom center;
    padding-top: 14px;
}
#tabs-1 > div,
#tabs-1 h1,
#main .ui-tabs > div,
#main .ui-tabs h1 {
    background-color: #fff;
}
#main .ui-tabs,
#main .ui-tabs .ui-tabs-panel {
    border: none;
    padding: 0;
}
#main .ui-tabs-nav {
    border: none;
    clear: none;
    height: 36px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin: 0px;
}
#main .ui-tabs-nav li {
    height: 36px;
    line-height: 36px;
    background: url('/images/sprite_tab_navigation.png') repeat-x 0 -60px;
}
#main .ui-tabs-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0 19px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}
#main .ui-tabs-nav li.ui-state-active a {
    color: #2D3441;
}
#main .ui-tabs-nav li.ui-state-active {
    background: url('/images/sprite_tab_navigation.png') repeat-x 0 -10px;
}
#main .ui-tabs-nav li:hover a {
    color: #fff;
}
#main .ui-tabs-nav li:focus a {
    outline: none;
}
#main .ui-tabs-nav li:hover {
    background: url('/images/sprite_tab_navigation.png') repeat-x 0 -111px;
}
#main .ui-widget-header,
#main .ui-tabs-nav li {
    @include border-radius(0);
    border: none;
}

#main .put-nav {
    display: none;
}
label.armhint {
    display: none;
}

#main.with_wordpress_tabs {
    background-image: url('/images/tabs_bg_large.png');
    background-repeat: no-repeat;
    background-position: 50% -47px;
    margin: 0 0 60px;
    padding-top: 30px;
}


h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    font-family: 'DroidSansBold','MuseoSans', Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-weight: normal;
    color: #000;
}
h1 {
    font-size: 2.2em;
    margin: 0 0 1em;
    padding: 0;
}
h2 {font-size: 2em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.3em;}


a {
    color: $link-color;
    &:hover {
        color: #023b19;
    }
}

body, code {
    font-family: 'MuseoSans', Verdana, Arial, sans-serif;
    color: $black;
}


#header {
    background-color: #024f20;
    @include background-image(linear-gradient(to bottom, #024f20, #036028));
    border-bottom: 1px solid #0a350a;

    .page_wrapper {
        padding: 0;
    }
}
header + * {
    border-top: 1px solid $primary-color;
}
#logo {
    height: auto;
    margin-top: 19px;

    body.logged_in & {
        height: auto;
        margin-top: 2px;
    }
}

#flash_message .message {
    padding-left: 0;
    padding-right: 0;
}
#welcome_message .info_box {
    margin-left: 0;
    margin-right: 0;
}
.full_teaser {
    padding: 0;
}

#main {
    margin: 3em 0 4em;
}

#nav {
    #user_menu {
        border-left-color: $dark-green;
    }
    .hlist > ul > li {
        &:hover {
            background: $header-color2;
            > a {
                color: #fff;
            }
        }
        &.current > a {
            background: $header-color2;
            color: $primary-color;
        }
        &.current:hover {
            > a {
                color: #fff;
            }
        }
    }
}
#nav ul.children li a:hover,
#nav ul.children li.current a {
    color: $primary-color;
}

#flash_message {
    border-top: 1px solid $dark-green;
    border-bottom: 1px solid $primary-color;
    background-color: $header-color;
    color: #fff;
    a:hover {
        color: $primary-color;
    }
}

.register a.button:hover {
    color: $black;
}

#subheader {
    background: transparent;
    max-height: 120px;
}
#subheader #logo_row {
    height: auto;
    margin-bottom: 20px;
}
#subheader #organisation_logo {
    display: block;
    height: auto;
    margin: 0;
    padding: 0 0 1em 0;
    padding-top: 5px;
    float: none;
}
#subheader #logo_row h2 {
    font-size: 3em;
    color: #fff;
}

#searchform, .list_form {
    position: relative;

    label {
        line-height: 38px;
    }

    input#s, input.q {
        height: 36px;
        padding-right: 52px;
        margin: 0;
        @include border-radius(0);
    }

    #searchsubmit, input.go {
        position: absolute;
        right: 1px;
        top: 1px;

        @include button-background($primary-color);
        color: $link-color;
        text-indent: -9999px;
        display: inline-block;
        width: 45px;
        height: 32px;
        margin: 2px;

        // icon
        background-image: url(http://www.gruene-nrw.de/fileadmin/lib/themes/jahnstrasse/img/suche_submit.png);
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
            background-image: url(http://www.gruene-nrw.de/fileadmin/lib/themes/jahnstrasse/img/suche_submit.png);
        }
    }
}

#col3_content {
    background: none;
    padding: 0;

    .sidebar_box {
        padding: 1.5em;
        margin: 2em 0;
    }
}
.pager_wrapper .floatbox {
    .filter_box {
        color: inherit;
    }
}

.content_nav,
#col3 .sidebar_box,
#settings #col3_content .sidebar_box,
#col3_content.box-style .sidebar_box,
.pager_wrapper .floatbox {
    @include gruene-gradient();
    color: #fff;
    @include text-shadow(1px 1px 2px #012b12);
    a {
        color: $black;
        @include text-shadow(1px 1px 2px rgba(#fff, 0.5));
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    h3 {
        border-bottom-style: solid;
    }
    .meta, .utility {
        color: #fff;
    }
    .abadge {
        @include text-shadow(0 0 0);
    }
}

#col3, #col1 {
    .tag_link a[rel="tag"] {
        background-color: $header-color;
        color: #fff;
        padding: 0.3em 0.5em;

        &:hover {
            background-color: $primary-color;
        }
    }
}

#subheader {
    max-height: none;
    margin-bottom: 2em;

    #nav_row {
        background-color: $dark-green;
        overflow: hidden;  // clearfix
        padding: 0 1em;

        #subnav {
            height: auto;
            padding: 0;

            li {
                line-height: 64px;
                margin: 0 0.5em;

                a {
                    background: none;
                    border: none;
                    padding: 0;
                    @include box-shadow(none);
                    @include text-shadow(none);
                    min-width: 0;
                    line-height: 1.2em;
                }
                &.current a, a:hover {
                    color: #fff;
                    border-bottom: 1px solid $secondary-color;
                    text-decoration: none;
                }
            }
        }
        #searchbox {
            padding: 13px 0;
        }
    }
}

/*Listen*/
#col1 .content_list {
    > li {
        background: none;
        border-bottom-style: solid;
        border-color: $border;

        &:first-child {
            border-top-style: solid;
        }
    }
}
#col3 .content_list {
    > li {
        border-bottom-style: solid;
    }
}

#main .joyride-next-tip, #main .joyride-prev-tip {
    &:hover {
        border: 1px solid $link-color !important;
    }
}

/*Formulare */
form legend {
    font-family: 'DroidSansBold', 'MuseoSans', Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
    font-weight: normal;
    color: #035b26;
    font-size: 1.3em;
    border: 0;
}


/*Vorschläge */
a.follow_paper, a.vote_count, a.button.delegate {
    font-weight: normal;
    font-size: 1em;
    @include text-shadow(0 0 0);
    border: 0;
}
a.button.delegate {
    @include box-shadow(0 0 0);
}

hr {
    border-style: solid;
}

/* Use sprites from theme */

a.icon_link {
    background-image: url('/static_theme/static/images/sprite.png');
}
#slides .pagination li {
    background: url('/static_theme/static/images/sprite.png') left -1154px no-repeat;
}
#slides .pagination li span {
    background: url('/static_theme/static/images/sprite.png') left -1205px no-repeat;
}
#projects_slides #prev_link, #projects_slides #next_link, #projects_slides .prev, #projects_slides .next {
    background-image: url('/static_theme/static/images/sprite.png');
}

.pager {
    .prev_page a, .next_page a, .prev_page span, .next_page span, > span.current {
        @include border-radius(0);
        @include button($primary-color);
        padding: 0 0.5em;
        min-width: 1.5em;

        &:hover {
            color: $black;
        }
    }
    > a {
        color: $primary-color;
        border: none;
        background: none;

        &:hover {
            background: none;
            color: $dark-green;
            text-decoration: underline;
        }
    }
}

/* use custom sprite_icons */
.vote_up span,
.vote_down span,
.vote.big .vote_up span,
.vote.big .vote_down span {
    background-image: url('/static_theme/static/images/sprite_icons.png');
}

ul.content_nav {
    @include box-sizing(border-box);
    border-bottom: none;
    > li a {
        @include text-shadow(1px 1px 2px #012b12);
        color: white;
    }
}
