$link-color: #62b32d;
$primary-color: $link-color;
$secondary-color: #ffe000;
$black: #222;
$button-color: $primary-color;
$green: $primary-color;
$dark-green: #0a321e;
$register-color: #ffe000;
$header-color: #035925;
$header-color2: #0a350a;

$fg1: #666;
$border: $bg2;
$footer-fg: #85998f;
