$link-color: #035b26;
$primary-color: #429f31;
$secondary-color: #ffed00;
$black: #222;
$button-color: $primary-color;
$red: #9D4647;
$green: $primary-color;
$register-color: $green;
$header-color: $primary-color;
$header-color2: #024f20;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: $link-color;
$fg1: #666;

$flash: #fffde4;
